.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    & img {
        width: 80px;
        height: 70px;
    }
}

.nav-logo p {
    color: #171717;
    font-size: 38px;
    font-weight: 600;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: #ff4141;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
    & .cart-icon {
        height: 45px;
        width: 30px;
    }
}

.nav-login-cart{
    & a:visited {
        color: black;
    }
    & button {
        width: 157px;
        height: 58px;
        outline: none;
        border: 1px solid #7a7a7a;
        border-radius: 75px;
        color: #515151;
        font-size: 20px;
        font-weight: 500;
        background-color: white;
        cursor: pointer;
    }
}

.nav-login-cart button:active {
    background-color: #f3f3f3;
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -84px;
    border-radius: 11px;
    background-color: red;
    color: white;
}

.navbar .menu {
    display: none;
    position: absolute;
    top: 2rem;
    left: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 0;
    height: 0;
}

.navbar .menu span {
    height: 0.4rem;
    width: 100%;
    border-radius: 0.3rem;
    background-color: #000;
}

@media (max-width: 480px) {

    .nav-logo {
        left: 2.5rem;
        & img {
            top: -6px;
            position: relative;
        }
        & a {
            height: 70px;
        }
    }

    .nav-menu {
        width: 75%;
        flex-direction: column;
        background: #eef4e9
    }

    .navbar {
        padding: 0px; 
        justify-content: center;
        & .menu {
            display: flex;
            width: 4.25rem;
            height: 54px;
            justify-content: center;
            align-items: center;
            top: 1%;
            left: 1%;
            & .menu-icon {
                width: 70px;
                height: 32px;
            }
        }
    }

    .nav-menu.open {
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        left: 0;
        top: 69px;
        transition: transform .5s ease-in-out;
    }

    .navbar ul {
        display: flex;
        position: absolute;
        width: 85vw;
        top: 69px;
        left: 0;
        padding: 20px 0;
        overflow: auto;
        overflow-x: hidden;
        transform: translateX(-100%);
        transition: transform .5s ease-in-out;
        z-index: 1;
    }

    .navbar ul.open {
        display: flex;
        padding: 20px 0;
        transform: translateX(0);
        z-index: 1;
        transition: transform .5s ease-in-out;
    }

    .navbar ul li {
        width: 100%;
        text-align: center;
        margin: 0.2rem 0.5rem;
    }

    .nav-login-cart {
        gap: 0px;
        position: relative;
        left: 26%;
        top: 5px;
        & .cart-icon {
            width: 30px;
            height: 62px;
        }
    }

    .nav-cart-count {
        position: relative;
        right: -15px;
        margin-left: -52px;
    }
}